
<div class="card" style="background-color: #FCFDFF;">
 <div class="body">
<div class="four-zero-four">
    <div class="four-zero-four-container" >
        <div class="error-code">
        	<img src="assets/images/building.gif" alt="Si-Keuangan | M. Iqbal Development" style="width:350px;height:350px;">
        </div>
        <div class="error-message">Fitur Akan Tersedia Di Versi 1.0.5</div>
        <div class="button-place">
            <button class="btn bg-blue-grey waves-effect" onClick="history.back();">KEMBALI</button>
        </div>
    </div>
</div>
</div>
